{% extends 'colleges/base.html' %}

{% block content %}

<h2>About IPEDS Colleges</h2>

<p>This site uses colleges data from <a href="https://nces.ed.gov/ipeds/use-the-data"
                                  alt="UNSD M49 country codes">IPEDS data center</a>.</p>

<p>
The Integrated Postsecondary Education Data System (IPEDS) is a system of interrelated surveys conducted 
annually by the National Center for Education Statistics (NCES), a part of the Institute for Education Sciences 
within the United States Department of Education. IPEDS consists of twelve interrelated survey components that are 
collected over three collection periods (Fall, Winter, and Spring) each year as described in the Data Collection and 
Dissemination Cycle. The completion of all IPEDS surveys is mandatory for all institutions that participate in, or are 
applicants for participation in, any federal financial assistance program authorized by Title IV of the Higher Education 
Act of 1965, as amended.
</p>

{% endblock content %}