{% extends 'colleges/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <article>
      <header>
        <h2>Academic Domains</h2>
      </header>

        {% include 'colleges/pagination.html' %}

        {% if academic_domains %}
          <div class="row">
            <div class="col-sm-12">
              {% for academic_domain in academic_domains %}
                <ul>
                    <li><a href="{% url 'academic_domain_detail' country.pk %}">{{ country.ciptitle }}</a></li>
                </ul>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <p>No Academic domains are available to view.</p>
        {% endif %}
        <p>Count: {{ academic_domains.count }}</p>
    </article>
  {% else %}
    <a href="{% url 'login' %}">Log in</a>
  {% endif %}

{% endblock content %}