{% extends 'colleges/base.html' %}
   
   {% load colleges_extras %}

   
   <!-- safe filter on for raw HTML stored in database -->
   {% block content %}
     <header>
       <div class="row">
         <div class="col-sm-10">
           <h2>{{ institution.institution_name | safe }}</h2>
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             <a class="btn btn-outline-secondary" href="{% url 'institution_update' institution.pk %}">edit</a>
           {% endif %}
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             &nbsp;<a class="btn btn-outline-warning" href="{% url 'institution_delete' institution.pk %}">delete</a>
           {% endif %}
         </div>
       </div>
     </header>
   
     <!-- {% if site.country_area.all %}
       <div class="row">
         <div class="col-sm-2">
           <p>Region</p>
         </div>
         <div class="col-sm-10">
           {% spaceless %}
           <p>
             {% for country_area in site.country_area.all %}
               {% if country_area.location.intermediate_region %}
                 {% ifchanged country_area.location.intermediate_region.intermediate_region_id %}
                   {% if forloop.first %}
                     {{ country_area.location.intermediate_region.intermediate_region_name.strip }}
                   {% else %}
                     {{ country_area.location.intermediate_region.intermediate_region_name.strip|add_leading_comma }}
                   {% endif %}
                 {% endifchanged %}
               {% elif country_area.location.sub_region %}
                 {% ifchanged country_area.location.sub_region.sub_region_id %}
                   {% if forloop.first %}
                     {{ country_area.location.sub_region.sub_region_name.strip }}
                   {% else %}
                     {{ country_area.location.sub_region.sub_region_name.strip|add_leading_comma }}
                   {% endif %}
                 {% endifchanged %}
               {% elif country_area.location.region %}
                 {% ifchanged country_area.location.region.region_id %}
                   {% if forloop.first %}
                     {{ country_area.location.region.region_name.strip }}
                   {% else %}
                     {{ country_area.location.region.region_name.strip|add_leading_comma }}
                   {% endif %}
                 {% endifchanged %}
               {% else %}
                 {% ifchanged country_area.location.planet_id %}
                   {{ country_area.location.planet.unsd_name.strip }}
                 {% endifchanged %}
               {% endif %}
             {% endfor %}
           </p>
           {% endspaceless %}
         </div>
       </div>
   
       <div class="row">
         <div class="col-sm-2">
           <p>Country / Area</p>
         </div>
         <div class="col-sm-10">
           {% spaceless %}
           <p>
             {% for country_area in site.country_area.all %}
               {% if forloop.last %}
                 {{ country_area.country_area_name.strip }} ({{ country_area.iso_alpha3_code.strip }})
               {% else %}
                 {{ country_area.country_area_name.strip }} {{ country_area.iso_alpha3_code.strip|add_parens|add_trailing_comma }}
               {% endif %}
             {% endfor %}
           </p>
           {% endspaceless %}
         </div>
       </div>
   
     {% endif %} -->

     <!-- modify part -->
      {% if institution.city %}  
        <div class="row">
          <div class="col-sm-2">
            <p>City</p>
          </div>
          <div class="col-sm-10">
            <p>{{ institution.city }}</p>
          </div>
        </div>
      {% endif %}

      {% if institution.state %}
        <div class="row">
          <div class="col-sm-2">
            <p>State</p>
          </div>
          <div class="col-sm-10">
            <p>{{ institution.state }}</p>
          </div>
        </div>
      {% endif %}

      {% if institution.zip_code %}
        <div class="row">
          <div class="col-sm-2">
            <p>Zipcode</p>
          </div>
          <div class="col-sm-10">
            <p>{{ institution.zip_code }}</p>
          </div>
        </div>
      {% endif %}

      {% if institution.student_faculty_ratio  %}
        <div class="row">
          <div class="col-sm-2">
            <p>Student-faculty Ratio</p>
          </div>
          <div class="col-sm-10">
            <p>{{ institution.student_faculty_ratio | safe}}</p>
          </div>
        </div>
      {% endif %}

   
     {% if institution.percent_admitted %}
       <div class="row">
         <div class="col-sm-2">
           <p>Percent Admitted</p>
         </div>
         <div class="col-sm-10">
           <p>{{ institution.percent_admitted }}</p>
         </div>
       </div>
     {% endif %}
   
  {% endblock content %}