<!-- Restore missing template tags -->
{% extends 'colleges/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <header>
    <h2>Institution Update</h2>
  </header>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate>
  {% csrf_token %}
  

  <!-- Restore missing fields rendered using Bootstrap rows and columns classes -->


  <div class="row">
    <div class="col-6">
      {{ form.institution_name|as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      {{ form.unitid|as_crispy_field }}
    </div>
  </div>



  <div class="row">
    <div class="col-6">
      {{ form.city|as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      {{ form.state|as_crispy_field }}
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
      {{ form.zip_code|as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      {{ form.survey_year|as_crispy_field }}
    </div>
  </div>


  <div class="row">
    <div class="col-6">
      {{ form.student_faculty_ratio|as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      {{ form.percent_admitted|as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      {{ form.academic_domain|as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      {{ form.graduation_race_type|as_crispy_field }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      {{ form.library_collection_category|as_crispy_field }}
    </div>
  </div>



  <!-- Restore missing fields rendered using Bootstrap rows and columns classes --> 


  <button type="submit" class="btn btn-outline-success">Update</button>
  
  <!-- Restore missing button -->
  <a class="btn btn-outline-secondary" href="{% url 'institution_detail' institution.pk %}">cancel</a>

</form>

{% endblock content %}